@import "global.scss";

body {
    background-color: var(--background)!important;
}

.text-color-gradient {
    background: linear-gradient(90deg, #9335ff 40%, #bf35ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}