@import "global.scss";

$container: 1040px;

body {
	font-family: $font-inter!important;
	font-size: 18px;
	line-height: 1.65;
	font-weight: 400;
    background-color: #0e1016!important;
    color: #ffff;

	margin: 0 auto;
	padding: 0 1em;
	width: 1040px;
	max-width: 100%;
}

h1, h2, h3, h4, h5 {
	line-height: 1.2;
	margin: 1em 0 0.5em 0;
	@media (prefers-color-scheme: dark) {
		color: #ffffff;
	}
	color: #8a8a8a;
	font-weight: 700;
}

h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
p {
	margin: 0 0 1em 0;
	text-align: justify;
}

code {
	font-family: $font-mono;
}

b,
strong {
	font-weight: 700;
	color: #fff;
	@media (prefers-color-scheme: dark) {
		color: #ffffff;
	}
	color: #b8b8b8;
}

$container: 1040px;

* {
	box-sizing: border-box;
}

::selection {
	background: #dabbff;
	color: black;
}

hr {
	margin: 1em 0;
	border: 0;
	border-bottom: 1px solid #888888;
}

.post {
	display: flex;
	width: 100%;
}

.version_wrapper {
	flex-basis: 260px;
	@media (max-width: $container) {
		flex-basis: 140px;
	}
	flex-grow: 0;
	flex-shrink: 0;
	margin: 4.5em 0 0 0;
	
	a {
		float: left;
		color: #ffffff;
		text-decoration: none;
		transition: 0.1s ease;

		&:hover {
			opacity: 0.6;
		}
	}
}