@import "global.scss";

body {
	font-family: $font-inter!important;
	font-size: 18px;
	line-height: 1.65;
	font-weight: 400;
	color: var(--texto)!important;
    background-color: var(--background)!important;

	margin: 0 auto!important;
	padding: 0 1em!important;
}

h1, h2, h3, h4, h5 {
	line-height: 1.2!important;
	margin: 0em 0 0.5em 0!important;
	color: var(--texto)!important;
	font-weight: 700!important;
}

h1 {
	font-size: 3.052em!important;
}
h2 {
	font-size: 2.441em!important;
}
h3 {
	font-size: 1.953em!important;
}
h4 {
	font-size: 1.563em!important;
}
h5 {
	font-size: 1.25em!important;
}
p {
	margin: 0 0 1em 0!important;
	text-align: justify!important;
}

code {
	font-family: $font-mono!important;
}

b,
strong {
	font-weight: 700!important;
}

::selection {
	background: #dabbff!important;
	color: black!important;
}

hr {
	margin: 1em 0!important;
	border: 0!important;
	border-bottom: 1px solid #888888!important;
}

.post {
	display: flex!important;
	width: 100%!important;
}

.version_wrapper {
	flex-basis: 260px;
	flex-grow: 0;
	flex-shrink: 0;
	margin: 4.5em 0 0 0;
	
	a {
		float: left;
		color: #ffffff;
		text-decoration: none;
		transition: 0.1s ease;

		&:hover {
			opacity: 0.6;
		}
	}
}