@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@50;100;150;200;250;300;350;400;450;500;550;600;650;700;750;800;850;900;950;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@50;100;150;200;250;300;350;400;450;500;550;600;650;700;750;800;850;900;950;1000&display=swap');

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11" !important;

    font-family: 'Lato', sans-serif;

    /* font-family: 'JetBrains Mono', monospace; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: smaller!important;
    color: black;
    background-color: #f9f9fb;
    margin: 0rem;
    overflow: hidden;
    overflow-y: scroll;

    background: url("../lib/assets/background.png");
    background-size: cover;
}

.hr-pink {
    border-top: 0.2rem solid #b566ffb0;
}

.my-toast {
    background-color: #a728c7;
    color: #ffffff;
    font-weight: 500;
    z-index: 4;
}

.my-border {
    border: 1px solid rgba(106, 0, 255, 0.15)!important;
}

details {
    i {
        transition: all 0.3s ease-out;
    }

    &[open] i {
        transform: rotate(180deg);
    }
}

summary {
    list-style: none;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(210, 175, 255, 0.5), rgba(255, 140, 243, 0.4) 100%);
}

select {
    background-color: rgba(253, 250, 255, 0.4) !important;
    transition: all .3s;

    option:checked {
        background-color: #b26eff33;
    }
}

.glass {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.font-my-mono {
    font-family: 'JetBrains Mono', monospace;
}

.my-button {
    display: block;
    margin: auto;
}

.onclick-push-me:active {
    transition: all .2s;
    transform: scale(0.9) !important;
}